#blad{
  color: red;
  font-weight: bold;
  text-align: center;

}

#poprawne{
  color: green;
  font-weight: bold;
  text-align: center;

}

#naglowek{
  font-weight: bold;
  text-align: center;

}

#odpowiedz{
  font-weight: bold;
  text-align: center;

}





